.DS_Store
tuner_result
results_tuner
Modulo-2/M1_Optimización_de_hiperparámetros.ipynb
Modulo-4/diagnostico_regularizacion.py
Modulo-4/Ejercicio-repaso.ipynb
Modulo-4/introduccion_CNN.py
Modulo-4/introduccion.py
Modulo-4/Tuner_hiperparametros.py
