.DS_Store
tuner_result
results_tuner
data/
Modulo2/M1_Algoritmos_bases_introductorios_RL.ipynb
Modulo2/M1_Algoritmos_bases_introductorios_RLog.ipynb
Modulo2/M1_Algoritmos_de_Shallow_Learning.ipynb
Modulo2/M1_Optimización_de_hiperparámetros.ipynb
Modulo2/M1_Preparación_de_datos_Machine_Learning.ipynb
Modulo2/M1_Seleccion_de_caracteristicas_Separación_de_datasets_Ejemplos.ipynb
Modulo3/
Modulo4/