.DS_Store
tuner_result
results_tuner
Modulo-2/M1_Optimización_de_hiperparámetros.ipynb
Modulo-3/M2_Algoritmo_Hierarchical_Clustering.ipynb
Modulo-3/M2_Taller_Repaso_parte2.ipynb
Modulo-3/M2_Taller_Repaso.ipynb
Modulo-3/data/
Modulo-4/